.header {
	border-bottom: 1px solid #dddddd;
	padding-bottom: 15px;
}

.automations {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	.avatar {
		background-color: #eee;
		width: auto;
		width: 50px;
		height: 50px;
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.task-info {
		width: 150px;
		font-size: 12px;
		.info-first {
			display: flex;
			justify-content: space-between;
			.clip-text {
				color: #0B99B2;
				font-size: 17px;
				font-weight: 500;
			}
			.status {
				display: flex;
				align-items: center;
				color: #75B531;
				padding-left: 10px;
				flex-grow: 0.7;
			}
		}
		.second-info {
			display: flex;
			justify-content: space-between;
			margin-top: 10px;
		}
	}
	.subscribers, .series, .messages-sent {
		.count {
			font-size: 24px;
			font-weight: 700;
		}
		.description {
			color: #999;
			display: block;
			line-height: 1.15;
			font-size: 13px;
			font-weight: 400;
		}
	}

	.subscribers {
		color: #36AFB2;
	}
	.series {
		color: #7ca69e;
	}
	.messages-sent {
		color: #197599;
	}
}
