:host {

	.m-widget14 {
		padding: 0;
	}

    .m-widget__container {
		padding: 2.2rem;
	}

	.m-widget14__title{
		min-height: 40px;
		font-size: 1.4rem;
		font-weight: bold;
	}

	.m-widget24__additional {
		font-weight: bold;
	}

	.recent-campaigns-chart__statistics-row {
		background-color: #f5f5f5;

		.m-widget24 {
			text-align: center;
		}
	}

	.recent-campaigns-chart__selector {
		max-width: 100%;
	}

}

