<div class="m-widget14">
	<ngx-loading [show]="loadingSpinner" [config]="spinnerConfig"></ngx-loading>
	<div class="m-widget__container">
		<div class="m-widget14__header">
			<div class="row justify-content-between">
				<div class="col-md-4 col-lg-5">
					<h3 class="m-widget14__title">
						Statistics of recent campaigns
					</h3>
				</div>
				<div class="col-md-8 col-lg-5">
					<div class="row justify-content-lg-end justify-content-sm-center align-content-center">
						<div class="col-7 align-self-center">
							<mat-button-toggle-group [value]="groupFilter" #group="matButtonToggleGroup">
								<mat-button-toggle (change)="groupFilterChanged($event)" value="day">
									By days
								</mat-button-toggle>
								<mat-button-toggle (change)="groupFilterChanged($event)" value="week">
									By weeks
								</mat-button-toggle>
							</mat-button-toggle-group>
						</div>

						<div class="col-5 align-self-center">
							<mat-form-field class="recent-campaigns-chart__selector">
								<mat-select [(value)]="periodFilter" (selectionChange)="periodSelectorChanged($event)">
									<mat-option *ngFor="let period of periods" [value]="period.value">
										{{ period.viewValue }}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
					</div>
				</div>
			</div>
		</div>
		<canvas *ngIf="chartLabels" baseChart
				[datasets]="chartData"
				[labels]="chartLabels"
				[options]="chartOptions"
				[legend]="chartLegend"
				[chartType]="chartType"
				(chartHover)="chartHovered($event)"
				(chartClick)="chartClicked($event)">
		</canvas>
	</div>

	<div class="row m-row--no-padding justify-content-center recent-campaigns-chart__statistics-row">
		<div class="col-md-3 col-lg-3 col-xl-2 d-flex justify-content-center align-items-center m--padding-15">
			<div class="m-widget24">
				<div class="m-widget24__item">
						<span class="m-widget24__stats m--font-brand float-none m--marginless">
				            {{cardsStatistics?.campaigns}}
				        </span><br>
					<span class="m-widget24__desc m--marginless">
						campaigns
					</span>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-lg-3 col-xl-2 d-flex justify-content-center align-items-center m--padding-15">
			<div class="m-widget24">
				<div class="m-widget24__item">
					<span class="m-widget24__stats m--font-brand float-none m--marginless">
						{{cardsStatistics?.sent}}
					</span><br>
					<span class="m-widget24__desc m--marginless">
						sent
					</span>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-lg-3 col-xl-2 d-flex justify-content-center align-items-center m--padding-15">
			<div class="m-widget24">
				<div class="m-widget24__item">
						<span class="m-widget24__stats m--font-brand float-none m--marginless">
							{{cardsStatistics?.delivered}}
				        </span><br>
					<span class="m-widget24__desc m--marginless">
							<span class="m-widget24__additional">
								{{cardsStatistics?.deliveredPercentage}}%
				            </span>
				            delivered
					</span>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-lg-3 col-xl-2 d-flex justify-content-center align-items-center m--padding-15">
			<div class="m-widget24">
				<div class="m-widget24__item">
					<span class="m-widget24__stats m--font-brand float-none m--marginless">
						{{cardsStatistics?.clicks}}
					</span><br>
					<span class="m-widget24__desc m--marginless">
						<span class="m-widget24__additional">
							{{cardsStatistics?.clicksPercentage}}%
						</span>
						clicks
					</span>
				</div>
			</div>
		</div>
	</div>
</div>

