<!-- begin::Footer -->
<div class="m-container m-page__container m-container--full-height" [ngClass]="footerContainerClass$ | async">
	<div class="m-footer__wrapper">
		<div class="row">
			<div class="col-9">
				<ul class="m-footer__nav m-nav m-nav--inline m--pull-left">
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
						<span class="m-nav__link-text link-text_small-size">
							Support
						</span>
						</a>
					</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
						<span class="m-nav__link-text link-text_small-size">
							Manuals
						</span>
						</a>
					</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
						<span class="m-nav__link-text link-text_small-size">
							Refer a Friend
						</span>
						</a>
					</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
						<span class="m-nav__link-text link-text_small-size">
							Privacy policy
						</span>
						</a>
					</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
						<span class="m-nav__link-text link-text_small-size">
							Special offers from our partners
						</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="col-3">
				<ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
						<span class="m-nav__link-text link-text_small-size bottom_dotted">
							Leave feedback
						</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- end::Footer -->
